<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>Comments</title>
</head>
<body>
    <h1> Comentários </h1>
    
    <form  method="post">
        <textarea name="comment"></textarea>
        <div>
            <button type="submit">Post Comment</button>
        </div>
    </form>

    {{ range .}}
        <div> {{.}} </div>
    {{ end }}
</body>
</html>